---
import Section from "@components/v1/section/Section.astro"
import Photo from "@components/v1/comp/photo/Photo.astro"

import PHOTOS from "@data/photos.json"
---

<Section class="photos">
	<div class="photos-heading">
		<h2>
			<span>写真</span>
			Photography
		</h2>
	</div>

	<div class="photos-content">
		{
			PHOTOS.map((photo) => (
				<Photo
					src={photo.src}
					alt={photo.alt}
					caption={photo.caption}
					location={photo.location}
				/>
			))
		}

		<div class="photos-content__filler"></div>
	</div>
</Section>

<style lang="scss">
	@use "@styles/modules/layouts";

	.photos {
		&-heading {
			@extend %grid-content;
		}

		&-content {
			@extend %grid-break;

			display: flex;
			gap: 0.6em;
			flex-flow: row wrap;

			@container (width <= 600px) {
				flex-flow: column nowrap;
			}
		}

		&-content > :global(*) {
			flex: 1 1 auto;
		}

		&-content__filler {
			flex: 99 1 auto;

			@container (width <= 600px) {
				display: none;
			}
		}
	}
</style>
