@use "sass:string";

@mixin flex($dir, $wrap, $gap) {
	& {
		display: flex;
		flex-flow: #{$dir} #{$wrap};
		gap: #{$gap};
	}
}

@mixin align($align: auto, $justify: auto) {
	& {
		align-items: #{$align};
		justify-content: #{$justify};
	}
}

// New

@mixin use-transition($property, $duration: 200ms, $easing: ease) {
	& {
		transition-property: string.unquote($property);
		transition-duration: #{$duration};
		transition-timing-function: #{$easing};
		@content;
	}
}

@mixin on-hover($hold: false) {
	@media (hover: hover) {
		&:is(:hover) {
			@content;
		}
	}

	@if $hold {
		@media (hover: none) {
			@content;
		}
	}
}
