{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "experimentalTernaries": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "trailingComma": "none"
}
