{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "experimentalOperatorPosition": "start",
    "experimentalTernaries": true,
    "objectWrap": "collapse",
    "printWidth": 80,
    "quoteProps": "as-needed",
    "semi": false,
    "singleAttributePerLine": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": true
}