<div class="under-construction">
	<h1>Website under construction!</h1>
</div>

<style lang="scss">
	.under-construction {
		min-height: 50svh;

		display: flex;
		place-items: center;
		place-content: center;
	}
</style>
