---

---

<footer class="footer">
	<div class="footer-wrapper">
		<p>
			Artini04 // {new Date().getFullYear()}年
		</p>
	</div>
</footer>

<style lang="scss">
	@use "@styles/modules/layouts";

	.footer {
		@extend %grid;

		&-wrapper {
			@extend %grid-margin;

			padding-block: 1em;

			font-size: 0.8em;
			text-align: center;
			color: hsl(from currentColor h s 50%);
		}
	}
</style>
