---
import Section from "@components/v1/section/Section.astro"
import PsyLogs from "./PsyLogs.astro"
import PsyDiv from "./PsyDiv.astro"
import PsySdtNeed from "./PsySdtNeed.astro"
---

<Section id="section-psychology" class="section-psychology">
	<div class="section-psychology-top">
		<div class="section-psychology-top-title">
			<h2 class="section-psychology-top-title__h2">Motivation</h2>
			<p class="section-psychology-top-title__p">
				A 2-week personal log examining what actually drives my behavior
				most of the time, and what Self-Determination Theory says about
				it.
			</p>
		</div>
	</div>

	<div class="section-psychology-content">
		<PsyDiv
			label="From April 10 to April 26"
			desc="Each entry records what I did and the tag reflects which motivation type I felt was driving it at that moment.">
			<PsyLogs />
		</PsyDiv>

		<PsyDiv label="Self-Determination Theory">
			<p class="sdt-pblock">
				Psychologists Edward Deci and Richard Ryan proposed that
				motivation is fueled by three core psychological needs. When
				these needs are met, intrinsic motivation naturally grows. When
				they're blocked, we fall back on extrinsic drivers just to keep
				going.
			</p>

			<div class="sdt-needs">
				<PsySdtNeed
					label="Autonomy"
					desc="The feeling that you're acting by your own choice, not because you're forced to."
				/>
				<PsySdtNeed
					label="Competence"
					desc="The feeling that you're capable of producing desired outcomes and developing mastery."
				/>
				<PsySdtNeed
					label="Relatedness"
					desc="The feeling of connection to people, ideas, or your own sense of identity and purpose. "
				/>
			</div>
		</PsyDiv>
	</div>
</Section>

<style lang="scss">
	@use "@styles/modules/layouts";
	@use "@styles/base";

	.section-psychology-top {
		@extend %grid-full;

		display: grid;
		grid-template-areas: "stack";

		@container (width > 600px) {
			min-height: 50svh;
		}
	}

	.section-psychology-top-title {
		grid-area: stack;
		place-self: flex-end center;
		margin-block-end: 10svh;

		display: flex;
		flex-flow: column nowrap;
		gap: 1ch;

		width: min(800px, 100%);

		&__h2 {
			@extend .text-serif;

			font-size: clamp(3em, 5vw, 4em);
		}
	}

	.section-psychology-content {
		@extend %grid-content;
	}

	//.sdt-pblock {
	//	border-inline-start: 0.3em solid darkorange;
	//	border-top-right-radius: var(--global-border-radius);
	//	border-bottom-right-radius: var(--global-border-radius);
	//	background-color: var(--global-app-background-color-light1);

	//	padding: 1em 1.2em;
	//}

	.sdt-needs {
		--grid-item-min-size: min(250px, 100%);

		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(var(--grid-item-min-size), 1fr)
		);
		gap: 1em;
	}
</style>
