<div class="project-pinned">
	<div class="project-pinned__led"></div>
</div>

<style lang="scss">
	.project-pinned {
		&__led {
			$size: 8px;

			width: $size;
			height: $size;
			aspect-ratio: 1;

			background-color: lightgreen;
			border-radius: 7px;
		}
	}
</style>
