---
import SectionSkillset from "@components/section/SectionSkillset.astro"
import Default from "@layouts/Default.astro"
---

<Default
  title="スキルセット"
  currentPage="skillset">
  <div data-page="skillset">
    <SectionSkillset />
  </div>
</Default>
