@use "./modules/utilities.scss" as util;
@use "./modules/layouts";

@import url(https://fonts.bunny.net/css?family=noto-sans-jp:400,600,900);
@import url(https://fonts.bunny.net/css?family=oxanium:400,600,800);

@font-face {
	font-family: "Ebihara No Kuseji";
	src: url("/Artini04/EbiharaNoKuseji.ttf");
	font-display: swap;
}

:root {
	--shared-border-radius: 7px;
	--shared-border-color: hsla(0, 0%, 24%, 1);
}

@layer base {
	body {
		background-color: var(--global-app-background-color);
		color: var(--global-app-font-color);

		//font-family: "Ebihara No Kuseji";
		font-family: "Oxanium", sans-serif;
		min-height: 100dvh;
		overflow-y: scroll;

		@include util.use-transition("background-color");
	}

	div[data-page] {
		& .section-base {
			padding: 1em;
		}
	}
}

@layer utility {
	.text {
		&-default {
			font-family: "Noto Sans JP";
		}

		&-ebihara {
			font-family: "Ebihara No Kuseji";
		}
	}
}
