@import url(https://fonts.bunny.net/css?family=noto-sans-jp:400);

@font-face {
  font-family: "Ebihara No Kuseji";
  src: url("/Artini04/EbiharaNoKuseji.ttf");
}

html {
  font-family: "Noto Sans JP";
  line-height: 1.6;
  background-color: light-dark(white, black);
}

.jp {
  font-family: "Ebihara No Kuseji";
}

.vertical {
  writing-mode: vertical-lr;
  transform-origin: top;
}
