@use "./modules/utilities.scss" as util;
@use "./modules/layouts";

@import url(https://fonts.bunny.net/css?family=hina-mincho:400|ibm-plex-sans-jp:400|oxanium:400,600,800);

@font-face {
	font-family: "Ebihara No Kuseji";
	src: url("/Artini04/EbiharaNoKuseji.ttf");
	font-display: swap;
}

:root {
	--shared-border-radius: 7px;
	--shared-border-color: hsla(0, 0%, 24%, 1);
}

@layer base {
	body {
		background: var(--global-app-background-color);
		color: var(--global-app-font-color);

		font-family: "Oxanium", "IBM Plex Sans JP", sans-serif;
		min-height: 100dvh;
		overflow-y: scroll;

		@include util.use-transition("background-color");
	}
}

@layer utility {
	.text {
		&-ebihara {
			font-family: "Ebihara No Kuseji";
		}

		&-hina {
			font-family: "Hina Mincho";
		}
	}
}
