@layer global {
	:root {
		--global-app-background-color: hsl(0, 0%, 10%);
		--global-app-font-color: hsl(0, 0%, 95%);

		--global-border-color: hsl(0, 0%, 60%, 0.1);
		--global-border: 1px solid var(--global-border-color);
		--global-border-radius: 5px;
	}
}
