@layer global {
	:root {
		//--global-app-background-color: hsl(0, 0%, 10%);
		--global-app-background-color: linear-gradient(
			to bottom,
			hsl(0, 0%, 10%, 1) 0%,
			hsl(0, 0%, 5%, 1) 100%
		);
		--global-app-font-color: hsl(0, 0%, 95%);
		--global-app-font-color-dim: oklch(
			from var(--global-app-font-color) calc(l - 0.2) c h
		);
		--global-app-font-color-muted: oklch(
			from var(--global-app-font-color) calc(l - 0.4) c h
		);

		--global-border-color: hsl(0, 0%, 60%, 0.1);
		--global-border-color-contrast: hsl(0, 0%, 60%, 0.4);
		--global-border: 2px solid var(--global-border-color);
		--global-border-contrast: 2px solid var(--global-border-color-contrast);
		--global-border-radius: 7px;

		// Text Sizing
		--global-text-size--tiny: 0.6em;
		--global-text-size--sm: 0.8em;

		// Text Color
		--global-text-color: hsl(0, 0%, 95%);
		--global-text-color--dim: hsl(0, 0%, 60%);
	}
}
