@layer reset, global, base, utility;

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		padding: 0;
		margin: 0;
	}

	html {
		interpolate-size: allow-keywords;
		scroll-behavior: smooth;
		color-scheme: dark;

		// Rendering
		text-rendering: optimizeLegibility;
		image-rendering: optimizeSpeed;
	}

	body {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
			sans-serif;
		font-size: 14pt;
		line-height: 1.5;
	}

	main,
	header,
	footer {
		container-type: inline-size;
	}

	a:any-link {
		color: inherit;

		&[class],
		[class] & {
			appearance: none;
			border: none;
			background: none;

			text-decoration: none;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.2;
		text-wrap: balance;
	}

	p,
	figcaption {
		text-wrap: pretty;
	}

	ul,
	ol {
		list-style: none;
	}

	img,
	picture,
	video {
		max-width: 100%;
		vertical-align: middle;
		font-style: italic;
	}

	input,
	button,
	select {
		font-family: inherit;
		color: inherit;

		&[class],
		[class] & {
			appearance: none;
			background: none;
			border: none;
		}
	}

	[data-icon] {
		vertical-align: middle;
		margin-block-end: 0.1em;

		min-width: 1em;
		min-height: 1em;
	}
}
