---
import Default from "@layouts/Default.astro"

import Construction from "@components/v1/content/construction/Construction.astro"
import ContentProjects from "@components/v1/content/projects/ContentProjects.astro"
import ContentPhotos from "@components/v1/content/photos/ContentPhotos.astro"
---

<Default title="Home">
	<main id="home">
		<Construction />
		<ContentProjects />
		<ContentPhotos />
	</main>
</Default>

<style lang="scss" is:global>
	#home {
		& > * + * {
			margin-block-start: 4em;
		}
	}
</style>
