---
import Default from "@layouts/Default.astro"
import HomeHeader from "@components/homepage/HomeHeader.astro"
import HomeSkillset from "@components/homepage/HomeSkillset.astro"
import HomeProjects from "@components/homepage/HomepageProjects.astro"
import PersistLinks from "@components/persist/PersistLinks.astro"
---

<Default title="Artini04 // Home">
  <main class="page-main">
    <HomeHeader />
    <PersistLinks />
    <HomeProjects />
    <HomeSkillset />
  </main>
</Default>
