---
import "../styles/reset.scss"
import "../styles/base.scss"

import Default from "../layouts/Default.astro"
import WindChime from "../components/WindChime.astro"
import Candle from "../components/Candle.astro"
---

<Default title="Artini04 | Home">
  <main>
    <WindChime />
    <Candle />
  </main>
</Default>
