---
import Default from "@layouts/Default.astro"
import ContentContainer from "@components/content/ContentContainer.astro"

import Section from "@components/v1/section/Section.astro"

import ContentProjects from "@components/v1/content/projects/ContentProjects.astro"
import ContentPhotos from "@components/v1/content/photos/ContentPhotos.astro"
import Construction from "@components/v1/comp/construction/Construction.astro"
---

<Default title="Home">
	<main id="home">
		<Construction />
		<ContentProjects />
		<ContentPhotos />
	</main>
</Default>

<style lang="scss" is:global>
	#home {
		& > * + * {
			margin-block-start: 4em;
		}
	}
</style>
