---
import Default from "@layouts/Default.astro"
import PhotoCats from "@components/photography/PhotoCats.astro"
import PersistLinks from "@components/persist/PersistLinks.astro"
---

<Default title="Artini04 // Photos">
  <main class="page-photo">
    <PersistLinks />
    <PhotoCats />
  </main>
</Default>
