---
import Default from "@layouts/Default.astro"
import SectionPhotos from "@components/section/SectionPhotos.astro"
---

<Default
  title="写真"
  currentPage="photos">
  <div data-page="photos">
    <SectionPhotos />
  </div>
</Default>
