---
import Default from "@layouts/Default.astro"
import ContentPsychology from "@components/v1/content/psychology/ContentPsychology.astro"
---

<Default title="Psychology Project" favicon="/Artini04/profile.jpg">
	<main id="psychology">
		<ContentPsychology />
	</main>
</Default>
