---
interface Props {
	cat: string
	p: string
}

const { cat, p } = Astro.props
---

<div class="sdt-term-item">
	<p class="sdt-term-item__category">{cat}</p>
	<p>{p}</p>
</div>

<style lang="scss">
	@use "@styles/base";

	.sdt-term-item {
		box-shadow: 0 0 1px 0 hsla(0, 0%, 60%, 0.4);
		padding: 1em;

		&__category {
			@extend .text-serif;
			color: var(--global-app-font-color-muted);
			text-transform: capitalize;

			margin-block-end: 0.6em;
		}
	}
</style>
