---
interface Props {
  additionalClass?: string
}

const { additionalClass } = Astro.props
---

<section
  class:list={["section-base", additionalClass]}
  data-jp>
  <slot />
</section>

<style lang="scss" is:global>
  @use "@styles/modules/layouts";

  .section-base {
    --grid-gap: 0.5em 0;
    @extend %grid-default;

    & > * {
      grid-column: breakpoint;
    }
  }
</style>
