@use "./modules/composition" as com;
@use "./modules/layout" as lo;
@use "./modules/utilities" as ut;
@use "./modules/block" as blk;

@import url(https://fonts.bunny.net/css?family=outfit:200,400,600,800,900);
body {
  font-family: "Outfit", sans-serif;
}

#app {
  margin-block: 1em;

  img,
  picture,
  video {
    border-radius: 3px;
  }
}

.header-img {
  height: 400px;
  object-fit: cover;
}
