:root {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;

    --orange: #ff7300;
    --yellow: #ffdf27;
    --paper-white: #f9fbff;
}

@font-face {
    font-family: "Ebihara No Kuseji";
    src: url(../../assets/fonts/EbiharaNoKuseji.ttf);
    font-display: swap;
}

body {
    background-color: #000000;
    color: var(--paper-white);
    font-size: 1.4em;
}

[lang='jp'] {
    font-family: "Ebihara No Kuseji", system-ui, sans-serif;
}

// ========== //
// == CARD == //
// ========== //

.card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4rem;

    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 99;
    isolation: isolate;

    .media {
        text-align: center;

        &>* {
            display: block;
        }

        .avatar {
            margin-inline: auto;
            margin-bottom: 0.6rem;
            border-radius: 50%;
            max-width: 120px;
        }
    }

    .info {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.4em;

        align-items: flex-start;
        justify-content: center;

        &-span {
            writing-mode: vertical-rl;
            transform-origin: top;
            transition: rotate 100ms;
        }

        &-media {
            width: auto;
            height: 100%;
        }
    }
}

// ============ //
// == CANDLE == //
// ============ //

.backdrop {
    position: fixed;
    inset: 0;
    z-index: 0;
    filter: blur(50px);

    .flicker {
        position: absolute;
        bottom: 0;
        left: 50%;

        width: 0;
        height: 120px;
        margin: 0;
        box-shadow: 0 5px 25px 5px var(--yellow), 0 0px 100px 10px var(--orange), 0 15px 50px 15px var(--orange);
        z-index: 1;

        animation: flicker 100ms linear infinite;
    }
}

// ============== //
// == KEYFRAME == //
// ============== //

@keyframes flicker {
    50% {
        opacity: 0.93;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: rgb(241, 234, 223);
        color: black;
    }

    .backdrop {
        display: none;
    }
}