<footer class="app-footer">
  <div class="app-footer__content">
    <span class="app-footer__copy">
      {new Date().getFullYear()}年 // Artini04
    </span>
  </div>
</footer>

<style lang="scss">
  @use "@styles/modules/layouts";

  .app-footer {
    // Component Properties
    --_text-color: hsl(0, 0%, 60%);

    // Styles
    --grid-gap: 0.5em 0;
    @extend %grid-default;

    color: var(--_text-color);
    font-size: var(--_text-size);
  }

  .app-footer__content {
    grid-column: content;
    padding: 0.6em;

    border: 1px solid var(--shared-border-color);
    border-block-start: none;

    text-align: right;

    @container (width <= 1000px) {
      grid-column: breakpoint;
    }
  }

  .app-footer__copy {
    font-size: 0.85em;
  }
</style>
