<div class="candle">
  <div class="flicker"></div>
</div>

<style lang="scss">
  $yellow: #ffdf27;
  $orange: #ff7300;

  .candle {
    position: fixed;
    inset: 0;
    z-index: 0;
    filter: blur(50px);

    .flicker {
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 0;
      height: 120px;
      z-index: 1;
      box-shadow:
        0 5px 25px 5px $yellow,
        0 0px 100px 10px $orange,
        0 15px 50px 15px $orange;

      animation:
        candle-flicker 100ms linear infinite,
        candle-move 15s linear infinite;
    }
  }

  @keyframes candle-flicker {
    50% {
      opacity: 0.85;
    }
  }

  @keyframes candle-move {
    0% {
      transform: scale(1);
    }
    38% {
      transform: scale(0.8, 1);
    }
    40% {
      transform: scale(0.8, 1);
    }
    78% {
      transform: scale(1.3);
    }
    80% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
