---
interface Props {
	class?: string | string[]
}

const { class: classNames = "" } = Astro.props

const classNormalized =
	typeof classNames === "string" ? [classNames] : classNames
---

<section class:list={["section", ...classNormalized]}>
	<slot />
</section>

<style lang="scss" is:global>
	.section {
		& > div[class*="heading"] {
			& h2 {
				font-size: 2em;
				text-transform: capitalize;

				& span {
					color: lightcoral;
				}
			}
		}
	}
</style>

<style lang="scss">
	@use "@styles/modules/layouts";

	.section {
		@extend %grid;
	}
</style>
