---
interface Props {
	class?: string
	id?: string
}

const { class: classNames = "", id } = Astro.props
---

<section id={id} class:list={["section", ...classNames.split(" ")]}>
	<slot />
</section>

<style lang="scss" is:global>
	.section {
		& > div[class*="heading"] {
			& h2 {
				font-size: 2em;
				text-transform: capitalize;

				& span {
					color: lightcoral;
					font-family: "Hina Mincho";
				}
			}
		}
	}
</style>

<style lang="scss">
	@use "@styles/modules/layouts";

	.section {
		@extend %grid;

		scroll-margin-block-start: 1em;
	}
</style>
