---
import SectionBase from "@components/base/SectionBase.astro"
import ActionLinkExternal from "@components/action/ActionLinkExternal.astro"
---

<SectionBase additionalClass="section-links">
  <div class="section-links__header">
    <h1>リンク</h1>
  </div>

  <div class="section-links__list">
    <p>
      GitHubのアカウント →
      <ActionLinkExternal
        link="https://github.com/Artini04"
        text="GitHub"
      />
    </p>
    <p>
      使ったフォント →
      <ActionLinkExternal
        link="https://naotoebihara.booth.pm/items/3965615"
        text="【手書きフォント】　エビハラのくせ字"
      />
    </p>
  </div>
</SectionBase>
