---
import { Icon } from "astro-icon/components"
import SectionBase from "@components/base/SectionBase.astro"

const projectLinks = [
  {
    title: "Japanese Quartet Vocabulary Index // 日本語カルテット単語索引",
    description: "A small Quartet Book Vocabulary Index written in Vue/Nuxt",
    link: "https://quartet-index.vercel.app"
  },
  {
    title: "360 South Streets Photography",
    description: "South Streets Photography website",
    link: "https://southstreets.co"
  }
]
---

<SectionBase additionalClass="section-projects">
  <div class="section-projects__header">
    <h1>プロジェクト</h1>
  </div>

  <div class="section-projects__list">
    {
      projectLinks.map(({ title, description, link }) => (
        <a
          href={link}
          class:list={"section-projects__project"}
          target="_blank">
          <span class:list={"section-projects__project-visible"}>
            <p class:list={"section-projects__project-title"}>
              <Icon name="tabler:link" />
              <span>{title}</span>
            </p>
            <p class:list={"section-projects__project-description"}>
              {description}
            </p>
            <p class:list={"section-projects__project-description"}>
              ・・・ {link}
            </p>
          </span>
        </a>
      ))
    }
  </div>
</SectionBase>

<style lang="scss">
  @use "@styles/modules/layouts";
  @use "@styles/modules/utilities" as util;

  .section-projects {
  }

  .section-projects__list {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.6em;
  }

  .section-projects__project {
    // Project Color Properties
    --_description-color-light: hsl(0, 0%, 25%);
    --_description-color-dark: hsl(0, 0%, 75%);

    // Styles
    width: fit-content;

    & [data-icon] {
      margin-block-end: 0.2em;
    }

    &-title {
      text-transform: uppercase;
    }

    &-description {
      font-size: 0.9em;
      line-height: 1.2;
      color: light-dark(
        var(--_description-color-light),
        var(--_description-color-dark)
      );
    }
  }
</style>
