---
import { Icon } from "astro-icon/components"

interface Props {
	label: string
	href: string
}

const { label, href } = Astro.props
---

<a class="anchor-external" href={href} target="_blank">
	<span>{label}</span>
	<Icon name="tabler:external-link" />
</a>
