---
interface Props {
	label: string
	href: string
}

const { label, href } = Astro.props
---

<a class="anchor-external" href={href} target="_blank">
	{label}
</a>

<style lang="scss">
	.anchor-external {
	}
</style>
