:root {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;

  --orange: #ff7300;
}

@font-face {
  font-family: "Ebihara No Kuseji";
  src: url(../assets/EbiharaNoKuseji.ttf);
  font-display: swap;
}

body {
  background-color: #000000;
  color: #f3f3f3;
  font-size: 1.3rem;
  font-family: "Ebihara No Kuseji", system-ui, sans-serif;
}

.card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;

  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 99;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.4rem;

  align-items: flex-start;
  justify-content: center;
}

.info > .info-span {
  writing-mode: vertical-rl;
  transform-origin: top;
  transition: rotate 100ms;
}

.info-media > img {
  width: auto;
  height: 100%;
}

.avatar {
  margin-bottom: 0.6rem;
}

.media {
  text-align: center;
}

.media > * {
  display: block;
}

.avatar {
  border-radius: 50%;
  max-width: 120px;
  margin-inline: auto;
}

.title {
  font-size: 1.4rem;
}

/* ================================== */
/* Candle */
.backdrop {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 0;
  filter: blur(50px);
}

.flicker {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 0;
  height: 60px;
  margin-inline: auto;
  box-shadow: 0 5px 25px 5px rgb(255, 223, 39), 0 0px 100px 10px var(--orange), 0 15px 50px 15px var(--orange);
  z-index: 1;

  animation: flicker 100ms linear infinite;
}

@keyframes flicker {
  50% {
    opacity: 0.93;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
}
