@import url(https://fonts.bunny.net/css?family=outfit:200,400,600,800,900);
.flow, .flow-inline, .flow-block {
  --default-flow-gap: 1em;
  display: flex;
  gap: var(--default-flow-gap);
}
.flow-block {
  flex-flow: column nowrap;
}
.flow-inline {
  flex-flow: row nowrap;
}

.layout, .layout-column-2 {
  --default-spacing: 1em;
  display: grid;
  gap: var(--default-spacing);
  width: 100%;
}
.layout-column-2 {
  grid-template-columns: repeat(2, 1fr);
}
@container (width < 800px) {
  .layout, .layout-column-2 {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--default-spacing);
  }
}

.grid {
  --default-grid-gap: 1em 0;
  --default-margin-spacing: 1em;
  --default-margin-block: 2em;
  container-type: inline-size;
  display: grid;
  gap: var(--default-grid-gap);
  grid-template-columns: [full-width-start breakout-left-start] minmax(var(--default-margin-block), 1fr) [hanging-left-start hanging-start] minmax(var(--default-margin-block), 0.3fr) [content-start hanging-right-start breakout-right-start] min(100% - var(--default-margin-block) * 4, 60rem) [content-end hanging-left-end breakout-left-end] minmax(var(--default-margin-block), 0.3fr) [hanging-right-end hanging-end] minmax(var(--default-margin-block), 1fr) [full-width-end breakout-left-end];
  text-align: justify;
}
.grid > .full-width {
  grid-column: full-width;
}
.grid > .full-width > * {
  border-radius: 0 !important;
}
.grid > .breakout-left {
  grid-column: breakout-left;
}
.grid > .breakout-right {
  grid-column: breakout-right;
}
.grid > .hanging {
  grid-column: hanging;
}
.grid > .hanging-left {
  grid-column: hanging-left;
}
.grid > .hanging-right {
  grid-column: hanging-right;
}
@container (width < 800px) {
  .grid > .hanging, .grid > .hanging-left, .grid > .hanging-right {
    grid-column: hanging;
    padding-inline: 0.7em;
  }
}

.grid > *, .full-width > * {
  grid-column: content;
}
@container (width < 800px) {
  .grid > *, .full-width > * {
    grid-column: hanging;
  }
}

.bold {
  font-weight: 600;
}
.bolder {
  font-weight: 900;
}

.light {
  font-weight: 200;
}

.img-auto {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.basic {
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin-inline: auto;
  flex-wrap: wrap;
}
.basic__img {
  max-width: 100px;
}

.display-photo {
  --display-size: 900px;
  --default-anim-speed: 500ms;
  --default-fixed-height: 500px;
}
.display-photo__img {
  position: relative;
  height: var(--default-fixed-height);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.4);
}
.display-photo__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.display-photo__img > figcaption {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4em;
  inset: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.display-photo__img > figcaption :nth-child(1) {
  font-weight: 800;
}
@container (width > 900px) {
  .display-photo__img, .display-photo__img > figcaption {
    transition: width ease var(--default-anim-speed), opacity ease var(--default-anim-speed);
  }
  .display-photo__img:is(:hover, :active, :focus) {
    z-index: 99;
    width: 500%;
  }
  .display-photo__img:is(:hover, :active, :focus) > figcaption {
    opacity: 1;
  }
}
@container (width < 450px) {
  .display-photo__img {
    height: calc(var(--default-fixed-height) / 1.2);
  }
}
@container (width > 900px) {
  .display-photo {
    cursor: help;
  }
  .display-photo:has(:is(:hover, :active, :focus)) > :not(:is(:hover, :active, :focus)) {
    width: 15%;
  }
}

body {
  font-family: "Outfit", sans-serif;
}

#app {
  margin-block: 1em;
}
#app img,
#app picture,
#app video {
  border-radius: 3px;
}

.header-img {
  height: 400px;
  object-fit: cover;
}

/*# sourceMappingURL=base.css.map */
